.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: transparent;
    padding: 20px;
}

.profile-text {
    color: #ffffff;
}

.profile-image {
    width: 275px;
    height: 300px;
    display: inline-flex;
    border: 10px solid aqua;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
    padding-left: 0px;
    border-color: rgb(4, 23, 96);
    margin: 100px;
    object-fit: cover;
    overflow: hidden;
}
