.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
}

.profile-text {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 35px auto;
    text-align: center;
    padding: 15px;
}

.profile-image {
    width: 375px;
    height: 400px;
    display: flex;
    border: 10px solid;
    box-shadow: 0 0 10px #0f1c2a, 0 0 20px #0f1c2a, 0 0 30px #0f1c2a, 0 0 40px #0f1c2a;
    padding-left: 0px;
    border-color: #0f1c2a;
    margin: 100px;
    object-fit: cover;
    overflow: hidden;
}
