.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #19242e;
    padding: 20px;
}

.profile-text {
    color: #ffffff;
}

.profile-image {
    width: 275px;
    height: 300px;
    display: block;
    padding-left: 50px;
    border-color: aqua;
    margin: 100px;
    object-fit: cover;
}